<settings>
    <profiles>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <sonar.jdbc.url>
{% if sonar_jdbc_driver == "postgresql" %} 
                     jdbc:postgresql://{{sonar_jdbc_host}}:{{sonar_jdbc_port}}/{{sonar_jdbc_db}}
{% elif sonar_jdbc_driver == "h2" %} 
                     jdbc:h2:tcp://{{sonar_jdbc_host}}:{{sonar_jdbc_port}}/{{sonar_jdbc_db}}
{% elif sonar_jdbc_driver == "mysql" %} 
                     jdbc:mysql://{{sonar_jdbc_host}}:{{sonar_jdbc_port}}/{sonar_jdbc_db}}??useUnicode=true&amp;characterEncoding=utf8
{% else %}
                     <!-- NO DATABASE supported for {{sonar_jdbc_driver}} in ansible -->
{% endif %}
                </sonar.jdbc.url>
                <sonar.jdbc.username>{{sonar_jdbc_user}}</sonar.jdbc.username>
                <sonar.jdbc.password>{{sonar_jdbc_pass}}</sonar.jdbc.password>
                <!-- Optional URL to server. Default value is http://localhost:9000 -->
                <sonar.host.url>
                  http://{{sonar_analyzer_runner_host_connect}}:{{sonar_port}}
                </sonar.host.url>
            </properties>
        </profile>
     </profiles>
</settings>